@use 'colors.scss' as *;
@use 'mixins.scss' as *;
form{
    background-color: $white;
    color: $black;
    @include flexbox(column, nowrap, 1rem );
    @include box(600px, auto, 3rem, 30px);

    input{
        @include box(100%,auto ,1rem ,30px);
        border: 1px solid $black;
    }
}